<div class="p-5 mb-4 bg-dark rounded-3">
  <div class="container">
    <h1 class="display-4 text-center"><%= title %> has no articles</h1>
    <h1 class="display-4 text-center"><%= fa_icon "coffee" %></h1>
  </div>
</div>
